<div class="row">
  <div class="container">
    <div class="box-title">
      <h2>
        <a>Create flash card</a>
      </h2>
      <%= form_for(@flash_card) do |f| %>
        <div class="form-group">
          <p>Word</p>
          <div class="row">
            <div class="col-sm-6 col-xs-8">
              <%= f.text_field :word, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <p>Pronunciation</p>
          <div class="row">
            <div class="col-sm-6 col-xs-8">
              <%= f.text_field :pronunciation, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <p>Meaning</p>
          <div class="row">
            <div class="col-sm-6 col-xs-8">
              <%= f.text_area :meaning, class: "form-control", rows: 5 %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <p>Language</p>
          <div class="row">
            <div class="col-sm-6 col-xs-8">
              <%= f.select :language, FlashCard::LANGUAGES, {}, {class: "form-control"} %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <p></p>
          <div class="row">
            <div class="col-sm-6 col-xs-8">
              <%= f.submit "Create", class: "btn btn-lg btn-success btn-submit" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="container">
    <div class="box-title">
      <h2>
        <a>Other flash cards</a>
      </h2>
    </div>
  </div>
  <%= render partial: 'flash_cards', locals: {flash_cards: @flash_cards} %>
</div>
